
.admin_header .item_1
{
     /* border: 1px solid green; */
     display: flex;
     justify-content: space-between;
}
.admin_header .item_1 div
{
     
}
.admin_header .item_1 button
{
     display: flex;
     align-items: center;
     padding: 0.2rem;
     border: none;
     background-color: var(--color-admin-bg-header);
}
.admin_header .item_2
{
     display: flex;
     align-items: center;
     text-transform: uppercase;
     font-size: 1.5em;
     color: var( --color-admin-icon-nav);
}